.catalog {
    background-color: #f5f6f8; 
    &-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-card {
        max-width: 570px;
        position: relative;
        box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
    }
    &__card {
        margin-bottom: 30px;
        &__buttons {
            display: flex;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &__button {
            border: none;
            font-size: 11px;
            text-transform: uppercase;
            padding: 10px;
            height: 30px;
            @include bold;
        }
        &__tag {
           position: absolute;
           top: 10px;
           left: 10px; 
           padding: 10px;
           font-size: 12px;
           text-transform: uppercase;
           background-color: rgba($primary, 0.6);
           color: #ffffff;
        }
        &__image {
            display: block;
        }
    }
    &-link {
        text-align: center;
        margin-top: 60px;
    }
    &__link-more {
        display: inline-block;
        margin-bottom: 24px;
    }
    &__description {
        display: block;
    }
}


@media (max-width: 1199px) {
    .catalog {
        &-block {
            justify-content: center;
        }
        &-card {
            max-width: 470px;
        }
        
    }
}

@media (max-width: 768px) {
    .catalog {
        &-block {
            justify-content: center;
        }
        &-card {
            max-width: 350px;
        }
        
    }
}