.hero {
    background: #ffffff url('../../img/hero-bg.jpg') no-repeat center top;
    background-size: contain;
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 270px;
    width: 100%;
    &__title {
        font-size: 30px;
        @include light;
        margin-bottom: 40px;
    }
    &__subtitle {
        display: block;
        font-size: 30px;
        @include bold;
        margin-bottom: 67px;
    }
}

@media (max-width: 991px) {
    .hero {
        background-size: cover;
        background-position: top left 30%;
    }
}