.step {
    position: relative;
    text-align: center;
    &__title {
        font-size: 18px;
    }
    &:last-child {
        &:before {
            display: none;
        }
    }
    &:before {
        content: '';
        width: 77%;
        height: 2px;
        background-color: rgba(0,0,0,0.9);
        display: block;
        position: absolute;
        top: 17%;
        right: -52%;
    }
    &__text {
        max-width: 160px;
        margin: auto;
        margin-bottom: 50px;
    }
    &s {
        background-color: #f1f1f1;
        &-block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 1199px) {
    .step {
        width: 100%;
        flex-basis: 33.33%;
        &__text {
            display: block;
            text-align: center;
        }
        &:before {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .step {
        width: 33%;
        &:before {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .step {
        flex-basis: 50%;
    }
}